<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>weather_up</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body >
  <div class="top">
    <h1 id="head"><span class="message"></span></h1>
  </div>
  <div class="content container">
    <ul>
      <li>Location:<%=data.name%></li>
      <li>Temperature:<%=data.temp%><sup>o</sup>C</li>
      <li>Description:<%=data.description%></li>
      <li>Humidity:<%=data.humidity%></li>
      <li>Pressure:<%=data.pressure%> hpa</li>
    </ul>
  </div>

  <form id="form" action="/run" method="post" autocomplete="off">
    <input width="50%" type="text" name="place" placeholder="Enter the location"><br>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
  <footer id="footer" class="page-footer">
    <div class=" footer-copyright">
      <div class="container center">
        <p>Copyright © 2019. All Rights Reserved.</p>
        <a class="grey-text text-lighten-6 white-text" href="https://github.com/proabhi">Abhijeet|Github</a>
        </div>
      </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  <script type="text/javascript" src="/js/key.js"></script>
  <script type="text/javascript" src="/js/page.js"></script>
</body>
</html>
